logzero
python-Levenshtein
fuzzywuzzy
datasets>=2.7.1
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
torchtext==0.6.0
transformers
numpy
git+https://github.com/Tomiinek/MultiWOZ_Evaluation.git@master
-i https://download.pytorch.org/whl/cu118
